*{
    background-color: #063263;
}

header {
    position: relative;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: left;
    padding: 0 10px;
    box-sizing: border-box;
}

.login-credentials {
    position: absolute;
    top: 10px;
    right: 10px;
}

.login-credentials button {
    margin-left: 10px;
    background-color: white;
    color: #063263;
    border-radius: 10px;
}

header img {
    margin: 0 auto;
}
.main-heading {
    padding: 120px;
}
.main-heading #main-heading-1{
    color: antiquewhite;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main-heading #main-heading-2 {
    color: antiquewhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.real-estate-image {
    position: absolute;
    top: 300px;
    right: 300px;
}
.search {
    border: 2px solid antiquewhite;
    border-radius: 10px;
    height: 40px;
    width: 200px;
}
.search-button{
    color: #063263;
    background-color: antiquewhite;
    width: 100px;
    height: 40px;
    border-radius: 10px;
}
footer{
    padding: 0 60px;
}
.footer-heading{
    padding: 0 40px;
    color: antiquewhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.footer-links{
    position: absolute;
    top: 900px;
    right: 460px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: antiquewhite;
}
.links {
    color: antiquewhite;
    text-decoration: none;
}
.logos{
    padding: 0 200px;
}
.logos #logo1{
    color: antiquewhite;
    font-size:30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}